# Files
*.log
.DS_Store
*.map
*.private.*

# Folders
node_modules/*
bower_components/*
*/node_modules/*
*/bower_components/*
vendor/*
tmp/*
*/tmp/*
coverage

# IntelliJ
.idea/*
*.iml

# Sublime
*.sublime-project
*/*.sublime-project
**/*.sublime-project
*.sublime-workspace
*/*.sublime-workspace
**/*.sublime-workspace
**/.vscode/**